h1 {
	color: #2565ae;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 32px;
	font-weight: 400;
	line-height: 42px;
	margin: 0 0 0px;
}

.wrapper-div {
	display: table-cell;
	vertical-align: middle
}

h2 {
	color: #000000;
	text-align: center;
	line-height: 0px;
	font-size: 16px;
	pointer-events: none;
	margin: 0 0 0px;
}

h3 {
	color: #ffffff;
	text-align: center;
	line-height: 10px;
	font-size: 15px;
	pointer-events: none;
	margin: 0 0 0px;
	vertical-align: middle
}

h4 {
	color: #000000;
	line-height: 10px;
	font-size: 20px;
	pointer-events: none;
}

/* 70%-width inputs */
input[type=text], input[type=password] {
	width: 70%;
	padding: 12px 12px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
/* Set a style for all buttons */
button {
	background-color: #4CAF50;
	color: white;
	padding: 7px 20px;
	margin: 6px 0;
	border: none;
	cursor: pointer;
	width: 70%;
}
/* Add a hover effect for buttons */
button:hover {
	opacity: 0.7;
}

.button1 {
	background-color: #ff0000;
	color: white;
	padding: 7px 20px;
	margin: 6px 0;
	border: none;
	cursor: pointer;
	width: 70%;
}

.button2 {
	background-color: #000000;
	color: white;
	padding: 2px 10px;
	margin: 6px 0;
	border: none;
	cursor: pointer;
	width: 80px;
	height: 30px;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
	width: 70%;
	padding: 14px 20px;
	background-color: #f44336;
}

.table {
  background-color: #ffffff;
  padding: 20px;
  padding-top: 10px;
  border-radius:5px;
  border: 1px light grey;
  width: 60%
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}