body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

main {
    background-color: white;
    color: black;
    padding: 30px;
    margin-top: 80px;
    height: 125vh;
}

header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    box-shadow: 0 0 8px 0 black;
}

header .navlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    list-style: none;
}

header .navlinks * {
    margin: 20px;
}

header .navlinks div a {
    color: white;
    text-decoration: none;
}