body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

main {
    background-color: lightblue;
    color: black;
    padding: 30px;
    margin-top: 80px;
    height: 130vh;
}

header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 95px;
    box-shadow: 0 0 8px 0 black;
}

header .navlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 34%;
    margin: 0 auto;
    list-style: none;
}

header .navlinks * {
    margin: 0px;
}

header .navlinks div a {
    color: lightgreen;
    text-decoration: none;
}

.column {
    float: left;
    width: 33.165%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}